*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
}

.animation-box {
  width: 250px;
  height: 250px;
  border: 5px solid #f48b29;
  margin: 100px auto;
  position: relative;
}

.animation-container {
  width: 150px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stick {
  background: #f48b29;
  display: inline-block;
  height: 60px;
  width: 5px;
  margin: 0 2px;
}
