*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
}

.animation-box {
  width: 250px;
  height: 250px;
  border: 5px solid #f48b29;
  margin: 100px auto;
  position: relative;
}

.animation-container {
  width: 150px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stick {
  background: #f48b29;
  display: inline-block;
  height: 60px;
  width: 5px;
  margin: 0 2px;
  animation: wavy 1.2s infinite ease-in-out;
}

@keyframes wavy {
  0% {
    transform: scaleY(0.4);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(0.4);
  }
}

.stick2 {
  animation-delay: -1.1s;
}
.stick3 {
  animation-delay: -1s;
}
.stick4 {
  animation-delay: -0.9s;
}
.stick5 {
  animation-delay: -0.8s;
}
.stick6 {
  animation-delay: -0.7s;
}
.stick7 {
  animation-delay: -0.6s;
}
.stick8 {
  animation-delay: -0.5s;
}
