*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
}

.animation-box {
  width: 250px;
  height: 250px;
  border: 5px solid #f48b29;
  margin: 100px auto;
  position: relative;
}
